# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_*

# Android related
**/android/.gradle/
**/android/captures/
**/android/.idea/
**/android/local.properties
**/android/.DS_Store
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS related
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/engine/
**/ios/Flutter/ephemeral/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Runner.xcworkspace/xcuserdata/
**/ios/.symlinks/
**/ios/.DS_Store
**/ios/Podfile.lock
**/ios/Podfile.symlinks/
**/ios/Pods/

# Xcode related
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.moved-aside
DerivedData/
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Others
*.log
*.tmp
*.swp
*.swo
*.orig

# Test outputs
coverage/
.flutter-plugins-dependencies
